Source: octoprint
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, debhelper (>= 9),
  python-setuptools, python-all,
  python-frozendict, python-monotonic,
Standards-Version: 3.9.6
Homepage: https://octoprint.org

Package: octoprint
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python-frozendict,
  python-monotonic,
Description: The snappy web interface for your 3D printer
 OctoPrint provides a snappy web interface for controlling consumer 3D
 printers. It is Free Software and released under the GNU Affero General
 Public License V3.
 .
 Its website can be found at https://octoprint.org/.
