Source: octoprint
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-flask-login,
  python3-flask-principal,
  python3-flask-babel,
  python3-flask-assets,
  python3-werkzeug,
  python3-cachelib,
  python3-yaml,
  python3-markdown,
  python3-serial,
  python3-netaddr,
  python3-watchdog,
  python3-sarge,
  python3-netifaces,
  python3-pylru,
  python3-rsa,
  python3-pkginfo,
  python3-requests,
  python3-semantic-version,
  python3-psutil,
  python3-click,
  python3-awesome-slugify,
  python3-feedparser,
  python3-future,
  python3-websocket-client,
  python3-wrapt,
  python3-emoji,
  python3-frozendict,
  python3-sentry-sdk,
  python3-filetype,
  python3-mock,
  python3-pytest,
  python3-pytest-doctest-custom,
  python3-ddt,
  python3-flake8,
  python3-sphinx,
  python3-sphinxcontrib-httpdomain,
  python3-sphinxcontrib-mermaid,
  python3-sphinx-rtd-theme,
  python3-readthedocs-sphinx-ext,
Standards-Version: 3.9.6
Homepage: https://octoprint.org

Package: octoprint
Architecture: all
Replaces: python3-octoprint
Conflicts: python3-octoprint
Depends: ${misc:Depends}, ${python3:Depends},
  python3-flask-login,
  python3-flask-principal,
  python3-flask-babel,
  python3-flask-assets,
  python3-werkzeug,
  python3-cachelib,
  python3-yaml,
  python3-markdown,
  python3-serial,
  python3-netaddr,
  python3-watchdog,
  python3-sarge,
  python3-netifaces,
  python3-pip,
  python3-pylru,
  python3-rsa,
  python3-pkginfo,
  python3-requests,
  python3-semantic-version,
  python3-psutil,
  python3-click,
  python3-awesome-slugify,
  python3-feedparser,
  python3-future,
  python3-websocket-client,
  python3-wrapt,
  python3-emoji,
  python3-frozendict,
  python3-sentry-sdk,
  python3-filetype,
Description: The snappy web interface for your 3D printer
 OctoPrint provides a snappy web interface for controlling consumer 3D printers. It is Free Software
 and released under the [GNU Affero General Public License V3](http://www.gnu.org/licenses/agpl.html).
